<div class="details pad padtop" ng-controller="AccelerCtrl">
    <div class="arow">
        <div class='aitem'><h2>X:</h2></div>
        <div class='aitem'><input type="text" class="topcoat-text-input" ng-model="acceleration.x" placeholder="" disabled style="width:85%;"></div>
    </div>
    <div class="arow">
        <div class='aitem'><h2>Y:</h2></div>
        <div class='aitem'><input type="text" class="topcoat-text-input" ng-model="acceleration.y" placeholder="" disabled style="width:85%;"></div>
    </div>
    <div class="arow">
        <div class='aitem'><h2>Z:</h2></div>
        <div class='aitem'><input type="text" class="topcoat-text-input" ng-model="acceleration.z" placeholder="" disabled style="width:85%;"></div>
    </div>
    <div class="arow">
        <div class='aitem'><h2>Timestamp:</h2></div>
        <div class='aitem'><input type="text" class="topcoat-text-input" ng-model="acceleration.timestamp" placeholder="" disabled style="width:85%;"></div>
    </div>
</div>
