<!--
<div class="topcoat-list__container scroller" style="top:70px;" ng-controller="HackerNews2Ctrl">
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-repeat="item in hackerItems2" ng-click="loadItem(item)">
            {{item.title}}
        </li>
    </ul>
</div>
-->

<div class="topcoat-list__container" style="top:70px;" ng-controller="HackerNews2Ctrl">
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-repeat="item in hackerItems2" ng-click="loadItem(item)">
            {{item.title}}
        </li>
    </ul>
</div>